@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Engineer Details</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question">
                Engineer Name:
            </td>
            <td class="answer">
                @(Model.Engineer.FirstName + " " + Model.Engineer.LastName)
            </td>
            <td class="question">
                Company Name:
            </td>
            <td class="answer">
                @Model.Company?.CompanyName
            </td>
        </tr>
        <tr>
            <td class="question">
                Address:
            </td>
            <td class="answer" colspan="3">
                @Model.Company?.Address?.AddressOne<br />
                @Model.Company?.Address?.AddressTwo<br />
                @Model.Company?.Address?.City, @Model.Company?.Address?.Postcode
            </td>
        </tr>
    </table>
</div>