@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Visual Checks</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question" colspan="2">
                Suitable hearth?
            </td>
            <td class="answer" style="text-align: center">
                @Model.Answers.GetValue("E_SuitableHearthResult")
            </td>
            <td class="question" colspan="2">
                Ventilation Sufficient?
            </td>
            <td class="answer" style="text-align: center">
                @Model.Answers.GetValue("E_VentilationSufficientResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Chimney Condition Sound?
            </td>
            <td class="answer" style="text-align: center">
                @Model.Answers.GetValue("E_ChimneyConditionSoundResult")
            </td>
            <td class="question" colspan="2">
                CO Alarm FItted?
            </td>
            <td class="answer" style="text-align: center">
                @Model.Answers.GetValue("E_COAlarmFittedResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Termination Height?
            </td>
            <td class="answer" style="text-align: center">
                @Model.Answers.GetValue("E_TerminationHeightResult")
            </td>
            <td class="question" colspan="2">
                Information Available?
            </td>
            <td class="answer" style="text-align: center">
                @Model.Answers.GetValue("E_InformationAvailableResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Chimney Swept?
            </td>
            <td class="answer" style="text-align: center">
                @Model.Answers.GetValue("E_ChimneySweptResult")
            </td>
            <td class="question" colspan="2">
                Clear of Combustibles?
            </td>
            <td class="answer" style="text-align: center">
                @Model.Answers.GetValue("E_ClearOfCombustiblesResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                All Seals Airtight?
            </td>
            <td class="answer" style="text-align: center">
                @Model.Answers.GetValue("E_AllSealsAirtightResult")
            </td>
            <td class="question" colspan="2">
                Controls Working?
            </td>
            <td class="answer" style="text-align: center">
                @Model.Answers.GetValue("E_ControlsWorkingResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="5">
                Customer aware how to use the appliance correctly?
            </td>
            <td class="answer" colspan="1" style="text-align: center">
                @Model.Answers.GetValue("E_CustomerAwareResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="5">
                Customer burning suitable/approved fuels for the appliance?
            </td>
            <td class="answer" colspan="1" style="text-align: center">
                @Model.Answers.GetValue("E_BurningSuitableResult")
            </td>
        </tr>
    </table>
</div>