@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header section-header-alt">Wet System Checks</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td colspan="6" class="question question-alt">
                Boiler Connections & Suitability?
            </td>
            <td colspan="2" class="answer answer-alt" style="text-align: center;">
                @Model.Answers.GetValue("E_BoilerConnectionsResult")
            </td>
            <td colspan="6" class="question question-alt">
                Storage Type, Size & Suitability?
            </td>
            <td colspan="2" class="answer answer-alt" style="text-align: center;">
                @Model.Answers.GetValue("E_StorageTypeResult")
            </td>
        </tr>
        <tr>
            <td colspan="6" class="question question-alt">
                Storage Location?
            </td>
            <td colspan="2" class="answer answer-alt" style="text-align: center;">
                @Model.Answers.GetValue("E_StorageLocationResult")
            </td>
            <td colspan="6" class="question question-alt">
                F&E Tank Type, Location & Size?
            </td>
            <td colspan="2" class="answer answer-alt" style="text-align: center;">
                @Model.Answers.GetValue("E_FETankTypeResult")
            </td>
        </tr>
        <tr>
            <td colspan="6" class="question question-alt">
                System Controls & Immersion?
            </td>
            <td colspan="2" class="answer answer-alt" style="text-align: center;">
                @Model.Answers.GetValue("E_SystemControlsResult")
            </td>
            <td colspan="6" class="question question-alt">
                System Checked under Operation?
            </td>
            <td colspan="2" class="answer answer-alt" style="text-align: center;">
                @Model.Answers.GetValue("E_SystemCheckedResult")
            </td>
        </tr>
        <tr>
            <td colspan="6" class="question question-alt">
                Service Passed?
            </td>
            <td colspan="2" class="answer answer-alt" style="text-align: center">
                @Model.Answers.GetValue("E_ServicePassedResult")
            </td>
            <td colspan="6" class="question question-alt">
                Wet System Service Passed
            </td>
            <td colspan="2" class="answer answer-alt" style="text-align: center;">
                @Model.Answers.GetValue("E_WetSystemChecksResult")
            </td>
        </tr>
    </table>
</div>