@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Servicing Record Sign Off</h2>
    <table class="question-table" cellspacing="0">
        <tr>
            <td class="question-prefix" colspan="5">
                Issued by
            </td>
            <td class="question" colspan="4">
                Signed
            </td>
            <td class="answer" colspan="6" height=40>
                <img src="data:image/png;base64, @Model.EngineerSignatureImage" alt="" height="30">
            </td>
            <td class="question" colspan="3">
                Print Name
            </td>
            <td class="answer" colspan="5">
                @(Model.Engineer.FirstName + " " + Model.Engineer.LastName)
            </td>
            <td class="question" colspan="3">
                Date
            </td>
            <td class="answer" colspan="5">
                @Model.JobDate.DateTime.ToString("yyyy-MM-dd")
            </td>
        </tr>
        <tr>
            <td class="question-prefix" colspan="5">
                Received By
            </td>
            <td class="question" colspan="4">
                Signed
            </td>
            <td class="answer" colspan="6" height=40>
                <img src="data:image/png;base64, @Model.TenantSignatureImage" alt="" height="30">
            </td>
            <td class="question" colspan="3">
                Print Name
            </td>
            <td class="answer" colspan="5">
                @Model.Answers.GetValue("E_PrintName")
            </td>
            <td class="question" colspan="3">
                Date
            </td>
            <td class="answer" colspan="5">
                @DateTime.Now.ToString("yyyy-MM-dd")
            </td>
        </tr>
    </table>
</div>