@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Servicing Record Sign Off</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question-prefix" rowspan="3" colspan="3">
                Issued by:
            </td>
            <td class="question" colspan="2">
                Signed:
            </td>
            <td class="answer" colspan="4" height=40>
                <img src="data:image/png;base64, @Model.EngineerSignatureImage" alt="" height="30">
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Print Name:
            </td>
            <td class="answer" colspan="4">
                @(Model.Engineer.FirstName + " " + Model.Engineer.LastName)
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Date:
            </td>
            <td class="answer" colspan="4">
                @DateTime.Now.ToString("yyyy-MM-dd")
            </td>
        </tr>
        <tr>
            <td class="question-prefix" rowspan="3" colspan="3" style="border-bottom-left-radius: 10px;">
                Customer Confirmation:
            </td>
            <td class="question" colspan="2">
                Signed:
            </td>
            <td class="answer" colspan="4" height=40>
                <img src="data:image/png;base64, @Model.TenantSignatureImage" alt="" height="30">
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Print Name:
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_PrintName")
            </td>
        </tr>
        <tr>
            <td class="question" style="border-radius: 0;" colspan="2">
                Date:
            </td>
            <td class="answer" colspan="4" style="border-bottom-right-radius: 10px;">
                @Model.JobDate.ToString("yyyy-MM-dd")
            </td>
        </tr>
    </table>
</div>