@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">System Checks</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question" colspan="2">
                Relief Valve Type
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_ReliefValveTypeResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Relief Valve
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_ReliefValveServiceabilityResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Thermostat & Energy cut out?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_ThermostatCutOutResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Check operation of motorised valve
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_CheckMotorisedValveResult", "N/A")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="2">
                Tee present?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_ColdWaterTeeFittedResult")
            </td>
        </tr>
    </table>
</div>