@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Thermostat & Cylinder Checks</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question" colspan="3">
                Max DHW Flow Rate
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_MaxDHWFlowRate")<span class="units">Ltrs/min</span>
            </td>
            <td class="question" colspan="3">
                Hot Water Thermostat temp
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_HotWaterThermostatTemp")<span class="units">&deg;C</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Mixing Valve fitted?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_DHWMixingValveFittedResult")
            </td>
            <td class="question" colspan="3">
                Achievable store temp
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_StoreTempAchievable")<span class="units">&deg;C</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Hot Water at nearest outlet?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_HotWaterTempAtOutlet")
            </td>
            <td class="question" colspan="3">
                Number of immersion heaters
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_NumberOfImmersionHeaters")
            </td>

        </tr>
        <tr>
            <td class="question" colspan="3">
                Cylinder & Pipework Supported?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_PipeworkSupportedResult")
            </td>
            <td class="question" colspan="3">
                Pipework lagged as required?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_PipeworkLaggedResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Is the appliance safe to use?
            </td>
            <td class="answer" colspan="5">
                @Model.Answers.GetValue("E_ApplianceSafeToUseResult")
            </td>
        </tr>
    </table>
</div>