@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Expansion Vessel Details</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question" colspan="4">
                Pressure Reducing Valve (PRV) Setting
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_PressureValveSetting")<span class="units">bar</span>
            </td>
            <td class="question" colspan="4">
                Is the service valve working?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_ServiceValveWorkingResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="4">
                Is there a provision for expansion?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_ProvisionForExpansionResult")
            </td>
            <td class="question" colspan="4">
                Expansion Type
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_ExpansionType")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="4">
                Is expansion charge correct?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_ExpansionCorrectChargeResult")
            </td>
            <td class="question" colspan="4">
                Has expansion been recharged?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_ExpansionRechargedResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="4">
                Expansion Vessel Size
            </td>
            <td class="answer" colspan="8">
                @Model.Answers.GetValue("E_ExpansionVesselSize")<span class="units">Ltrs</span>
            </td>
        </tr>
    </table>
</div>