@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @{ await Html.RenderPartialAsync("DocumentStyle"); }

</head>

<body class="main-content">
    <div class="section section-full">
        <img class="logo" src="https://gastag.s3-eu-west-1.amazonaws.com/RefImages/Emails/Logo-plus-Tagline.png" />
        <h1 class="title">
            Certificate of Chimney Sweeping <span class="sub_heading">(Landlord Safety Certificate)</span>
        </h1>
        <p class="description">
            This record is for safety purposes only. This report is vaild for the day of assessment
            only.
        </p>
    </div>

    <div class="section section-half">
        @{ await Html.RenderPartialAsync("Chimney_EngineerDetails"); }
    </div>

    <div class="section section-quarter">
        <div class="section-border" style="height: 82px;">
            <h2 class="section-header no-margin">Sweeping Address</h2>
            @Model.Property.Address.AddressOne<br />
            @Model.Property.Address.AddressTwo<br />
            @Model.Property.Address.City<br />
            @Model.Property.Address.Postcode
        </div>
    </div>

    <div class="section section-quarter">
        <div class="section-border" style="height: 82px;">
            <h2 class="section-header no-margin">Landlord Address</h2>
            @Model.Landlord.Address.AddressOne<br />
            @Model.Landlord.Address.AddressTwo<br />
            @Model.Landlord.Address.City<br />
            @Model.Landlord.Address.Postcode
        </div>
    </div>

    <div class="section section-twothird">
        <table class="repeater-question-table" cellspacing=0>
            <thead>
                <tr>
                    <th class="spacing-header" style="width: 180px;"></th>
                    <th class="sub-section-header" style="border-top-left-radius: 10px;">Chimney 1</th>
                    @for (var x = 2; x <= Model.Chimneys.Count(); x++)
                    {
                        <th class="sub-section-header">Chimney @x</th>
                    }
                </tr>
            </thead>
        </table>

        @{ await Html.RenderPartialAsync("Chimney_ApplianceDetails"); }

        @{ await Html.RenderPartialAsync("Chimney_VisualInspection"); }

        @{ await Html.RenderPartialAsync("Chimney_TestsObservations"); }
    </div>

    <div class="section section-third">
        @{ await Html.RenderPartialAsync("Shared_DefectsSection"); }

        @{ await Html.RenderPartialAsync("Shared_RecommendationSection"); }

        @{ await Html.RenderPartialAsync("Shared_SignOffSectionHalf"); }
    </div>
</body>

</html>