@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @{ await Html.RenderPartialAsync("DocumentStyle"); }

</head>

<body class="main-content">
    <div class="section section-full">
        <img class="logo" src="https://gastag.s3-eu-west-1.amazonaws.com/RefImages/Emails/Logo-plus-Tagline.png" />
        <h1 class="title">
            CD/10T Oil Firing Installation Completion Report
        </h1>
        <p class="description">
            This record is for safety purposes only. This report is vaild for the day of assessment
            only.
        </p>
    </div>

    @{ await Html.RenderPartialAsync("DetailsSection"); }

    <div class="section section-half">
        <h2 class="section-header">Oil Storage Details</h2>
        <table class="question-table" cellspacing="0">
            <tr>
                <td class="question" colspan="1">
                    Location
                </td>
                <td class="answer" colspan="3">
                    @Model.Appliance.ApplianceLocation
                </td>
            </tr>
            <tr>
                <td class="question">
                    Serial Number
                </td>
                <td class="answer">
                    @Model.Appliance.SerialNumber
                </td>
                <td class="question">
                    Tank Type
                </td>
                <td class="answer">
                    @Model.Appliance.Payload.GetValue("E_TankType")
                </td>
            </tr>
            <tr>
                <td class="question">
                    Make
                </td>
                <td class="answer">
                    @Model.Appliance.Make
                </td>
                <td class="question">
                    Model
                </td>
                <td class="answer">
                    @Model.Appliance.Model
                </td>
            </tr>
            <tr>
                <td class="question">
                    Appliance Condition
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_ApplianceCondition")
                </td>
                <td class="question">
                    Landlord's Appliance?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_LandlordsApplianceResult")
                </td>
            </tr>
        </table>

        @{ await Html.RenderPartialAsync("DefectsSection"); }
    </div>

    <div class="section section-half">
        <h2 class="section-header">Oil Storage Results</h2>
        <table class="question-table" cellspacing="0">
            <tr>
                <td class="question" colspan="8">
                    T1/133 Spillage and Fire Assessment been completed on the Oil Tank?
                </td>
                <td class="answer" colspan="2">
                    @Model.Appliance.FireAssessmentCarriedOut.ToBooleanString("Yes", "No")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="8">
                    Remote Fill System Fitted and Tested?
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_RemoteFillSystemTestedResult")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="8">
                    Overfill Alarm Facility Provided?
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_OverfillAlarmFittedResult")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="8">
                    Oil Supply Line Outside Diameter
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_OilSupplyLineOD")<span class="units"> mm</span>
                </td>
            </tr>
            <tr>
                <td class="question" colspan="8">
                    Oil Supply Type
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_OilSupplyType")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="8">
                    Pressure Tested?
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_PressureTestedResult")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="8">
                    Remote Sensing Fire Valve Fitted?
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_RemoteSensingFireValveFittedResult")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="8">
                    Oil Pipe Installed as per Manufacturer instruction and British Standards?
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_OilPipeMeetsStandardsResult")
                </td>
            </tr>
        </table>

        @{ await Html.RenderPartialAsync("SignOffSection"); }
    </div>
</body>

</html>