@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @{ await Html.RenderPartialAsync("DocumentStyle"); }

</head>

<body class="main-content">
    <div class="section section-full">
        <img class="logo" src="https://gastag.s3-eu-west-1.amazonaws.com/RefImages/Emails/Logo-plus-Tagline.png" />
        <h1 class="title">
            CD/12 Landlord Oil Installation Check
        </h1>
        <p class="description">
            This record is for safety purposes only. This report is vaild for the day of assessment
            only.
        </p>
    </div>

    @{ await Html.RenderPartialAsync("DetailsSection"); }

    <div class="section section-half">
        <h2 class="section-header">Appliance Details</h2>
        <table class="question-table" cellspacing="0">
            <tr>
                <td class="question" colspan="1">
                    Location
                </td>
                <td class="answer" colspan="3">
                    @Model.Appliance.ApplianceLocation
                </td>
            </tr>
            <tr>
                <td class="question">
                    Make
                </td>
                <td class="answer">
                    @Model.Appliance.Make
                </td>
                <td class="question">
                    Model
                </td>
                <td class="answer">
                    @Model.Appliance.Model
                </td>
            </tr>
            <tr>
                <td class="question" colspan="1">
                    Serial Number
                </td>
                <td class="answer" colspan="3">
                    @Model.Appliance.SerialNumber
                </td>
            </tr>
            <tr>
                <td class="question">
                    Burner Make
                </td>
                <td class="answer">
                    @Model.Appliance.Payload.GetValue("E_OilBurnerMake")
                </td>
                <td class="question">
                    Burner Model
                </td>
                <td class="answer">
                    @Model.Appliance.Payload.GetValue("E_OilBurnerModel")
                </td>
            </tr>
            <tr>
                <td class="question">
                    Burner Type
                </td>
                <td class="answer">
                    @Model.Appliance.Payload.GetValue("E_OilBurnerType")
                </td>
                <td class="question">
                    Tank Type
                </td>
                <td class="answer">
                    @Model.Appliance.Payload.GetValue("E_TankType")
                </td>
            </tr>
            <tr>
                <td class="question">
                    Flue Type
                </td>
                <td class="answer">
                    @Model.Appliance.FlueType
                </td>
                <td class="question">
                    Fuel Type
                </td>
                <td class="answer">
                    @Model.Appliance.Payload.GetValue("E_FuelType")
                </td>
            </tr>
            <tr>
                <td class="question">
                    Appliance Condition
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_ApplianceCondition")
                </td>
                <td class="question">
                    Landlord's Appliance?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_LandlordsApplianceResult")
                </td>
            </tr>
        </table>

        <h2 class="section-header">Schedule</h2>
        <table class="question-table" cellspacing="0">
            <tr>
                <td class="question" colspan="1">
                    Oil Storage
                </td>
                <td class="answer" colspan="1">
                    @Model.Answers.GetValue("E_OilSupplyResult")
                </td>
                <td class="question" colspan="1">
                    Comments
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_OilSupplyComments")
                </td>
            </tr>
            <tr>
                <td class="question">
                    Air Supply
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_SuitableAirSupplyResult")
                </td>
                <td class="question">
                    Comments
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_AirSupplyComments")
                </td>
            </tr>
            <tr>
                <td class="question">
                    Chimney/FLue
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_ChimneyFlueInstalledResult")
                </td>
                <td class="question">
                    Comments
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_ChimneyFlueComments")
                </td>
            </tr>
            <tr>
                <td class="question">
                    Burner
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_OilBurnerInstalledResult")
                </td>
                <td class="question">
                    Comments
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_OilBurnerComments")
                </td>
            </tr>
            <tr>
                <td class="question">
                    Safety Controls
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_SafetyControlsInstalledResult")
                </td>
                <td class="question">
                    Comments
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_SafetyControlsComments")
                </td>
            </tr>
        </table>

        <h2 class="section-header">Faults</h2>
        <table class="question-table" cellspacing="0">
            <tr>
                <td class="question" colspan="7">
                    Has a warning label been affixed to the equipment?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_WarningLabelAffixedResult")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="7">
                    Is it strongly recommended that these faults are remedied urgently?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_UrgentFaultsResult")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="7">
                    The equipment should not be used unitl the faults are rectified?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_ShouldEquipmentBeUsedResult")
                </td>
            </tr>
        </table>
    </div>

    <div class="section section-half">
        <h2 class="section-header">Test Results</h2>
        <table class="question-table" cellspacing="0">
            <tr>
                <td class="question" colspan="1">
                    Smoke No.
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_SmokeNumber")
                </td>
                <td class="question" colspan="1">
                    Draught
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_Draught")<span class="units"> @Model.Answers.GetValue("E_DraughtItem")</span>
                </td>
            </tr>
            <tr>
                <td class="question" colspan="1">
                    CO
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_CO")<span class="units"> ppm</span>
                </td>
                <td class="question" colspan="1">
                    CO<sub>2</sub>
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_CO2")<span class="units"> %</span>
                </td>
            </tr>
            <tr>
                <td class="question">
                    Flue Gas Temp:
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_FlueGasTemp")<span class="units"> &deg;</span>
                </td>
                <td class="question">
                    Pump Pressure
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_PumpPressure")<span class="units"> @Model.Answers.GetValue("E_PumpPressureItem")</span>
                </td>
                <td class="question">
                    Pump Vacuum
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_PumpVacuum")<span class="units"> @Model.Answers.GetValue("E_PumpVacuumItem")</span>
                </td>
            </tr>
            <tr>
                <td class="question" colspan="1">
                    Efficiency Nett:
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_EfficiencyNett")<span class="units"> %</span>
                </td>
                <td class="question" colspan="1">
                    Efficiency Gross:
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_EfficiencyGross")<span class="units"> %</span>
                </td>
            </tr>
            <tr>
                <td class="question" colspan="5">
                    Has a T1/133 Spillage and Fire Risk Assessment been carried out?
                </td>
                <td class="answer" colspan="1">
                    @Model.Appliance.FireAssessmentCarriedOut.ToBooleanString("Yes", "No")
                </td>
            </tr>
        </table>

        @{ await Html.RenderPartialAsync("DefectsSection"); }

        @{ await Html.RenderPartialAsync("SignOffSection"); }
    </div>
</body>

</html>