@model DocumentDevelopment.ViewModels.DataModel
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @{ await Html.RenderPartialAsync("DocumentStyle"); }

</head>

<body class="main-content container-fluid">
    <div class="section-full">
        <div id="logo" alt="" class="col-xs-1"></div>
        <h1 style="margin-bottom: 0">
            TI/133D Domestic Oil Storage Tank Spillage and Fire Risk Assessment
        </h1>
        <p class="description">
            This record is for safety purposes only. This report is vaild for the day of assessment
            only.
        </p>
    </div>

    @{ await Html.RenderPartialAsync("DetailsSection"); }

    <div class="section-half">
        <div class="content-block">
            <h2>Environment Hazard - Part 1</h2>
            <table class="content-inner" cellspacing=0>
                <tr>
                    <td class="question" colspan="8">
                        <p>Tank is in Jersey, Gurnsey or Isle of Man?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankLocatedInJerseyGuernseyResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Tank is in Wales and the installation is after 15<sup>th</sup> March 2016?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankLocationInWalesResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Tank capacity is in excess of 2500 litres?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankCapacityOver2500Result"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Tank is within 10 meters of controlled water?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankCloseToControlledWaterResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Tank located where spillage could run into an open drain or to a loose manhole cover?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankLocatedNearDrainResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Tank is within 50 meters of a borehole or spring?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankCloseToBoreholeResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>
                            Tank is over hard ground / surface that could enable spillage to run-off to reach controlled
                            water?
                        </p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankOverHardGroundResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>
                            Tank is located in a position where the vent pipe outlet is not visable from the fill point?
                        </p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_VentPipeNotVisibleFromFillPointResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Tank is supplying heating oil to a building other than a single family dwelling?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankSupplyNonSingleFamilyDwellingResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Any other potential hazard individual to the site?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_OtherPotentialFireHazardResult"))</p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="content-block">
            <h2>Environment Hazard - Part 2</h2>
            <table class="content-inner" cellspacing=0>
                <tr>
                    <td class="question" colspan="8">
                        <p>Tank is located in a flood risk area or is exposed to high wind?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankLocatedInFloodHighWindRiskResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Is a Tank restraint provided as recommended by the Tank manufacturer?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankRestraintProvdedResult"))</p>
                    </td>
                </tr>
            </table>
        </div>

        @{ await Html.RenderPartialAsync("SignOffSection"); }

    </div>
    <div class="section-half">
        <div class="content-block">
            <h2>Fire Hazard</h2>
            <table class=" content-inner" cellspacing=0>
                <tr>
                    <td class="question" colspan="8">
                        <p>
                            Oil tank is located within 1.8 meters of a non-fire rated building or structure (less than 30
                            minutes)?
                        </p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankCloseToNonFireWallResult"))</p>
                    </td>
                <tr>
                    <td class="question" colspan="8">
                        <p>Oil tank is located within 760mm of a non-fire rated boundary?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankCloseToNonFireBoundaryResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Oil tank is located within 1.8 meters of a non-fire rated eaves (less than 30 minutes)?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankCloseToNonFireEavesResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>
                            Oil tank is located within 1.8 meters of a construction opening in the building (window/door)?
                        </p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankCloseToConstructionOpeningResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Oil tank is located within 1.8 meters of a flue termination?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_TankCloseToFlueTerminationResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>
                            Oil tank is located on a base which does not extend a minimum of 300mm around all sides of the
                            tank?
                        </p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_HasBase300mmAroundTankResult"))</p>
                    </td>
                </tr>
                <tr>
                    <td class="question" colspan="8">
                        <p>Is fire protection provided?</p>
                    </td>
                    <td class="answer" colspan="2">
                        <p>@(Model.Answers.GetValue("E_FireProtectionProvidedResult"))</p>
                    </td>
                </tr>
            </table>
        </div>

        @{ await Html.RenderPartialAsync("DefectsSection"); }

    </div>
</body>

</html>