@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    @{ await Html.RenderPartialAsync("DocumentStyle"); }

</head>

<body class="main-content">
    <div class="section section-full">
        <img class="logo" src="https://gastag.s3-eu-west-1.amazonaws.com/RefImages/Emails/Logo-plus-Tagline.png" />
        <h1 class="title">
            Unvented Commissioning Record
        </h1>
        <p class="description">
            The following is to be completed on any visit where an unvented water storage cylinder is
            installed. Ask tenant if they are aware of any operational fault or problems.
        </p>
    </div>

    <div class="section section-twothird">
        <div class="section section-half">
            <h2 class="section-header">Customer Details</h2>
            <table class="question-table" cellspacing=0>
                <tr>
                    <td class="question">
                        Name
                    </td>
                    <td class="answer" colspan="3">
                        @Model.Answers.GetValue("E_PrintName")
                    </td>
                </tr>
                <tr>
                    <td class="question">
                        Address
                    </td>
                    <td class="answer" colspan="3">
                        @(Model.Property.Address.AddressOne + " " + Model.Property.Address.AddressTwo + ", " + Model.Property.Address.City + " " + Model.Property.Address.Postcode)
                    </td>
                </tr>
            </table>
        </div>

        <div class="section section-half">
            <h2 class="section-header">Landlord Details</h2>
            <table class="question-table" cellspacing=0>
                <tr>
                    <td class="question">
                        Name
                    </td>
                    <td class="answer" colspan="3">
                        @Model.Landlord.Name
                    </td>
                </tr>
                <tr>
                    <td class="question">
                        Address
                    </td>
                    <td class="answer" colspan="3">
                        @(Model.Landlord.Address.AddressOne + " " + Model.Landlord.Address.AddressTwo + ", " + Model.Landlord.Address.City + " " + Model.Landlord.Address.Postcode)
                    </td>
                </tr>
            </table>
        </div>

        <h2 class="section-header">Appliance Details</h2>
        <table class="question-table" cellspacing=0>
            <tr>
                <td class="question" colspan="7">
                    Location
                </td>
                <td class="answer" colspan="10">
                    @Model.Appliance.ApplianceLocation
                </td>
                <td class="question" colspan="7">
                    Make
                </td>
                <td class="answer" colspan="10">
                    @Model.Appliance.Make
                </td>
            </tr>
            <tr>
                <td class="question" colspan="7">
                    Model
                </td>
                <td class="answer" colspan="10">
                    @Model.Appliance.Model
                </td>
                <td class="question" colspan="7">
                    Type of Control System
                </td>
                <td class="answer" colspan="10">
                    @Model.Appliance.Payload.GetValue("E_ControlSystemType")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="7">
                    Capacity
                </td>
                <td class="answer" colspan="10">
                    @Model.Appliance.Payload.GetValue("E_Capacity") <span class="units">Ltrs</span>
                </td>
                <td class="question" colspan="7">
                    Heat Source Type
                </td>
                <td class="answer" colspan="10">
                    @Model.Appliance.Payload.GetValue("E_HeatsourceType")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="7">
                    Max Primary Flow Temp
                </td>
                <td class="answer" colspan="10">
                    @Model.Answers.GetValue("E_MaximumFlowTemp")<span class="units">&deg;C</span>
                </td>
                <td class="question" colspan="7">
                    Inlet Water Pressure
                </td>
                <td class="answer" colspan="10">
                    @Model.Answers.GetValue("E_InletWaterPressure")<span class="units">bar</span>
                </td>
            </tr>
            <tr>
                <td class="question" colspan="7">
                    Heat Source
                </td>
                <td class="answer" colspan="27">
                    @Model.Answers.GetValue("E_Heatsource")
                </td>
            </tr>
        </table>
    </div>

    <div class="section section-third">
        <h2 class="section-header">Company & Engineer Details</h2>
        <table class="question-table" cellspacing=0>
            <tr>
                <td class="question" colspan="3">
                    Company Name
                </td>
                <td class="answer" colspan="6">
                    @Model.Company.CompanyName
                </td>
            </tr>
            <tr>
                <td class="question" colspan="3">
                    Company Address
                </td>
                <td class="answer" colspan="6">
                    @(Model.Company.Address.AddressOne + " " + Model.Company.Address.AddressTwo + ", " + Model.Company.Address.City + " " + Model.Company.Address.Postcode)
                </td>
            </tr>
            <tr>
                <td class="question" colspan="3">
                    Engineer Name
                </td>
                <td class="answer" colspan="6">
                    @(Model.Engineer.FirstName + " " + Model.Engineer.LastName)
                </td>
            </tr>
        </table>

        <h2 class="section-header">Discharge Pipework</h2>
        <table class="question-table" cellspacing=0>
            <tr>
                <td class="question" colspan="2">
                    Material Suitable?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_D1D2MaterialSuitableResult")
                </td>
                <td class="question" colspan="2">
                    D1 Suitable?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_D1FittedToStandardsResult")
                </td>

            </tr>
            <tr>
                <td class="question" colspan="2">
                    D2 Suitable?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_D2FittedToStandardsResult")
                </td>
                <td class="question" colspan="2">
                    D2 Termination
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_D2PipeworkCorrectlyTerminatedResult")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="2">
                    Tundish
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_TundishFittedCorrectlyResult")
                </td>
                <td class="question" colspan="2">
                    Electrical Conditions
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_ElectricalConnectionsSoundResult")
                </td>
            </tr>
        </table>
    </div>

    <div class="section section-half">
        <h2 class="section-header">Expansion Vessel Details</h2>
        <table class="question-table" cellspacing=0>
            <tr>
                <td class="question" colspan="4">
                    Pressure Reducing Valve (PRV) Setting
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_PressureValveSetting")<span class="units">bar</span>
                </td>
                <td class="question" colspan="4">
                    Is the service valve working?
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_ServiceValveWorkingResult")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="4">
                    Is there a provision for expansion?
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_ProvisionForExpansionResult")
                </td>
                <td class="question" colspan="4">
                    Expansion Type
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_ExpansionType")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="4">
                    Is expansion charge correct?
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_ExpansionCorrectChargeResult")
                </td>
                <td class="question" colspan="4">
                    Has expansion been recharged?
                </td>
                <td class="answer" colspan="2">
                    @Model.Answers.GetValue("E_ExpansionRechargedResult")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="4">
                    Expansion Vessel Size
                </td>
                <td class="answer" colspan="8">
                    @Model.Answers.GetValue("E_ExpansionVesselSize")<span class="units">Ltrs</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="section section-half">
        <h2 class="section-header">Thermostat & Cylinder Checks</h2>
        <table class="question-table" cellspacing=0>
            <tr>
                <td class="question" colspan="3">
                    Max DHW Flow Rate
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_MaxDHWFlowRate")<span class="units">Ltrs/min</span>
                </td>
                <td class="question" colspan="3">
                    Hot Water Thermostat temp
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_HotWaterThermostatTemp")<span class="units">&deg;C</span>
                </td>
            </tr>
            <tr>
                <td class="question" colspan="3">
                    Mixing Valve fitted?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_DHWMixingValveFittedResult")
                </td>
                <td class="question" colspan="3">
                    Achievable store temp
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_StoreTempAchievable")<span class="units">&deg;C</span>
                </td>
            </tr>
            <tr>
                <td class="question" colspan="3">
                    Hot Water at nearest outlet?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_HotWaterTempAtOutlet")
                </td>
                <td class="question" colspan="3">
                    Number of immersion heaters
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_NumberOfImmersionHeaters")
                </td>

            </tr>
            <tr>
                <td class="question" colspan="3">
                    Cylinder & Pipework Supported?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_PipeworkSupportedResult")
                </td>
                <td class="question" colspan="3">
                    Pipework lagged as required?
                </td>
                <td class="answer">
                    @Model.Answers.GetValue("E_PipeworkLaggedResult")
                </td>
            </tr>
            <tr>
                <td class="question" colspan="3">
                    Is the appliance safe to use?
                </td>
                <td class="answer" colspan="5">
                    @Model.Answers.GetValue("E_ApplianceSafeToUseResult")
                </td>
            </tr>
        </table>
    </div>

    <div class="section section-half">
        @{ await Html.RenderPartialAsync("DefectsSection"); }
    </div>
    <div class="section section-half">
        @{ await Html.RenderPartialAsync("SignOffSection"); }
    </div>
</body>

</html>