@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Test Results</h2>
    <table class="question-table" cellspacing="0">
        <tr>
            <td class="question" colspan="5">
                Smoke No.
            </td>
            <td class="answer" colspan="9">
                @Model.Answers.GetValue("E_SmokeNumber")
            </td>
            <td class="question" colspan="5">
                Draught
            </td>
            <td class="answer" colspan="8">
                @Model.Answers.GetValue("E_Draught")<span class="units"> @Model.Answers.GetValue("E_DraughtItem")</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="5">
                Flow Rate (Oil) Low
            </td>
            <td class="answer" colspan="9">
                @Model.Answers.GetValue("E_FlowRateOilLow")<span class="units"> cc/min</span>
            </td>
            <td class="question" colspan="5">
                Flow Rate (Oil) High
            </td>
            <td class="answer" colspan="8">
                @Model.Answers.GetValue("E_FlowRateOilHigh")<span class="units"> cc/min</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="5">
                Flow Rate (DHW) Cold
            </td>
            <td class="answer" colspan="9">
                @Model.Answers.GetValue("E_FlowRateDHWCold")<span class="units"> l/min</span>
            </td>
            <td class="question" colspan="5">
                Flow Rate (DHW) Hot
            </td>
            <td class="answer" colspan="8">
                @Model.Answers.GetValue("E_FlowRateDHWHot")<span class="units"> l/min</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="5">
                Nozzle Size
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_NozzleSize")<span class="units"> mm</span>
            </td>
            <td class="question" colspan="5">
                Nozzle Angle
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_NozzleAngle")<span class="units"> &deg;</span>
            </td>
            <td class="question" colspan="5">
                Nozzle Pattern
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_NozzlePattern")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="5">
                CO
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_CO")<span class="units"> ppm</span>
            </td>
            <td class="question" colspan="5">
                CO<sub>2</sub>
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_CO2")<span class="units"> %</span>
            </td>
            <td class="question" colspan="5">
                CO &colon; CO<sub>2</sub> Ratio
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_COCO2Ratio")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="5">
                Flue Gas Temp
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_FlueGasTemp")<span class="units"> &deg;C</span>
            </td>
            <td class="question" colspan="5">
                Pump Pressure
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_PumpPressure")<span class="units"> @Model.Answers.GetValue("E_PumpPressureItem")</span>
            </td>
            <td class="question" colspan="5">
                Pump Vacuum
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_PumpVacuum")<span class="units"> @Model.Answers.GetValue("E_PumpVacuumItem")</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="5">
                Efficiency Net
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_EfficiencyNett")<span class="units"> %</span>
            </td>
            <td class="question" colspan="5">
                Efficiency Gross
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_EfficiencyGross")<span class="units"> %</span>
            </td>
            <td class="question" colspan="5">
                Excess Air
            </td>
            <td class="answer" colspan="4">
                @Model.Answers.GetValue("E_ExcessAir")<span class="units"> %</span>
            </td>
        </tr>
    </table>
</div>