@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Fire Hazard</h2>
    <table class="question-table" cellspacing="0">
        <tr>
            <td class="question" colspan="8">
                Oil tank is located within 1.8 meters of a non-fire rated building or structure (less than 30
                minutes)?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankCloseToNonFireWallResult")
            </td>
        <tr>
            <td class="question" colspan="8">
                Oil tank is located within 760mm of a non-fire rated boundary?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankCloseToNonFireBoundaryResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Oil tank is located within 1.8 meters of a non-fire rated eaves (less than 30 minutes)?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankCloseToNonFireEavesResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Oil tank is located within 1.8 meters of a construction opening in the building (window/door)?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankCloseToConstructionOpeningResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Oil tank is located within 1.8 meters of a flue termination?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankCloseToFlueTerminationResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Oil tank is located on a base which does not extend a minimum of 300mm around all sides of the
                tank?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_HasBase300mmAroundTankResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Is fire protection provided?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_FireProtectionProvidedResult")
            </td>
        </tr>
    </table>
</div>