@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Schedule</h2>
    <table class="question-table" cellspacing="0">
        <tr>
            <td class="question" colspan="1">
                Oil Storage
            </td>
            <td class="answer" colspan="1">
                @Model.Answers.GetValue("E_OilSupplyResult")
            </td>
            <td class="question" colspan="1">
                Comments
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_OilSupplyComments")
            </td>
        </tr>
        <tr>
            <td class="question">
                Air Supply
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SuitableAirSupplyResult")
            </td>
            <td class="question">
                Comments
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_AirSupplyComments")
            </td>
        </tr>
        <tr>
            <td class="question">
                Chimney/FLue
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_ChimneyFlueInstalledResult")
            </td>
            <td class="question">
                Comments
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_ChimneyFlueComments")
            </td>
        </tr>
        <tr>
            <td class="question">
                Burner
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_OilBurnerInstalledResult")
            </td>
            <td class="question">
                Comments
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_OilBurnerComments")
            </td>
        </tr>
        <tr>
            <td class="question">
                Safety Controls
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SafetyControlsInstalledResult")
            </td>
            <td class="question">
                Comments
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_SafetyControlsComments")
            </td>
        </tr>
    </table>
</div>