@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Environment Hazard - Part 1</h2>
    <table class="question-table" cellspacing="0">
        <tr>
            <td class="question" colspan="8">
                Tank is in Jersey, Gurnsey or Isle of Man?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankLocatedInJerseyGuernseyResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Tank is in Wales and the installation is after 15<sup>th</sup> March 2016?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankLocationInWalesResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Tank capacity is in excess of 2500 litres?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankCapacityOver2500Result")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Tank is within 10 meters of controlled water?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankCloseToControlledWaterResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Tank located where spillage could run into an open drain or to a loose manhole cover?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankLocatedNearDrainResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Tank is within 50 meters of a borehole or spring?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankCloseToBoreholeResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Tank is over hard ground / surface that could enable spillage to run-off to reach controlled
                water?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankOverHardGroundResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Tank is located in a position where the vent pipe outlet is not visable from the fill point?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_VentPipeNotVisibleFromFillPointResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Tank is supplying heating oil to a building other than a single family dwelling?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_TankSupplyNonSingleFamilyDwellingResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="8">
                Any other potential hazard individual to the site?
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_OtherPotentialFireHazardResult")
            </td>
        </tr>
    </table>
</div>