@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Test Results</h2>
    <table class="question-table" cellspacing="0">
        <tr>
            <td class="question" colspan="1">
                Smoke No.
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_SmokeNumber")
            </td>
            <td class="question" colspan="1">
                Draught
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_Draught")<span class="units"> @Model.Answers.GetValue("E_DraughtItem")</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="1">
                CO
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_CO")<span class="units"> ppm</span>
            </td>
            <td class="question" colspan="1">
                CO<sub>2</sub>
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_CO2")<span class="units"> %</span>
            </td>
        </tr>
        <tr>
            <td class="question">
                Flue Gas Temp:
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_FlueGasTemp")<span class="units"> &deg;</span>
            </td>
            <td class="question">
                Pump Pressure
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_PumpPressure")<span class="units"> @Model.Answers.GetValue("E_PumpPressureItem")</span>
            </td>
            <td class="question">
                Pump Vacuum
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_PumpVacuum")<span class="units"> @Model.Answers.GetValue("E_PumpVacuumItem")</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="1">
                Efficiency Nett:
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_EfficiencyNett")<span class="units"> %</span>
            </td>
            <td class="question" colspan="1">
                Efficiency Gross:
            </td>
            <td class="answer" colspan="2">
                @Model.Answers.GetValue("E_EfficiencyGross")<span class="units"> %</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="5">
                Has a T1/133 Spillage and Fire Risk Assessment been carried out?
            </td>
            <td class="answer" colspan="1">
                @Model.Appliance.FireAssessmentCarriedOut.ToBooleanString("Yes", "No")
            </td>
        </tr>
    </table>
</div>