@model DocumentDevelopment.ViewModels.DocumentData
@using DocumentDevelopment.Helpers;

<!DOCTYPE html>
<div>
    <h2 class="section-header">Solar System Checks</h2>
    <table class="question-table" cellspacing=0>
        <tr>
            <td class="question" colspan="3">
                Initial System Pressure (ISP)
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_InitialSystemPressure")<span class="units">bar</span>
            </td>
            <td class="question" colspan="3">
                Is ISP Correct?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_InitialSystemPressureCorrectResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Condition of Collectors & Ancillaries
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_CollectorsVisualConditionResult")
            </td>
            <td class="question" colspan="3">
                Check frost protection of Solar Fluid
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SolarFluidFrostProtectionResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Solar Fluid Refractometer Reading
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SolarFluidRefractometerReading")
            </td>
            <td class="question" colspan="3">
                Pressure Relief Valve (PRV) Solar Rated
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_PressureReliefValveRatedResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                PRV Operational
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_PressureReliefValveOperationalResult")
            </td>
            <td class="question" colspan="3">
                Discharge Container
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SuitablySizedDischargeContainerResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Checked Discharge Container Fluid
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_CheckedDischargeContainerFluidResult")
            </td>
            <td class="question" colspan="3">
                Automatic Air Vents
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_AutoAirVentsServiceableResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Filling Point
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SuitableFillingPointResult")
            </td>
            <td class="question" colspan="3">
                Drain Point
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SuitableDrainPointFittedResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Isolation and Check Valves
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_IsolationValvesFittedCorrectlyResult")
            </td>
            <td class="question" colspan="3">
                Pressure Gauge
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_PressureGaugeFittedResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Solar Pipework Condition
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SolarPipeworkSoundSupportedResult")
            </td>
            <td class="question" colspan="3">
                Solar Pipework Insulation
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SolarPipeworkProtectedResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                All Components are Steam/Solar Rated?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_ComponentsSteamSolarRatedResult")
            </td>
            <td class="question" colspan="3">
                Collector Sensors
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_CollectorSensorsSecureResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Storage Vessel/Cylinder
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_VesselSensorsSecureResult")
            </td>
            <td class="question" colspan="3">
                Charge Pressure
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_ChargePressureExVessel")<span class="units">bar</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Solar Fluid topped up?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_ToppedUpSolarFluidResult")
            </td>
            <td class="question" colspan="3">
                System Pressure
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SystemPressure")<span class="units">bar</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Solar Pump/s
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SolarPumpCorrectSpeedResult")
            </td>
            <td class="question" colspan="3">
                Solar Flow Rate Setting
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SolarFlowRate")<span class="units">Ltrs</span>
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                NTCs Operational
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_NTCOperatingCorrectlyResult")
            </td>
            <td class="question" colspan="3">
                Controls
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_ControlsWithinManufacturerSpecResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Sizing of Collectors & Cylinder
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_CollectorsCorrectlySizedResult")
            </td>
            <td class="question" colspan="3">
                DHW Blending Valve
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_DHWBlendingValveInstalledResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                DHW Outlet Temperature
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_DHWOutletTemp")<span class="units">&deg;C</span>
            </td>
            <td class="question" colspan="3">
                Acceptable Range?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_DHWOutletTempAcceptableResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="3">
                Secondary Heat Source been Interlocked?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SecondaryHeatSourceInterlockedResult")
            </td>
            <td class="question" colspan="3">
                Electrical Connections Sound & Cables Clipped & Protected
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_ConnectionsSoundAndProtectedResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="7">
                Condition
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SolarCondition")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="7">
                Is the Solar Appliance Safe to Use?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_SolarSafeToUseResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="7">
                Have you Isolated the Pump Station?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_IsolatedPumpStationResult")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="7">
                Defects Identified?
            </td>
            <td class="answer">
                @(Model.Defects.Any() ? "Yes" : "No")
            </td>
        </tr>
        <tr>
            <td class="question" colspan="7">
                Warning Notice / Unsafe Situation Procedure Required?
            </td>
            <td class="answer">
                @Model.Answers.GetValue("E_WarningNoticeRequiredResult")
            </td>
        </tr>
    </table>
</div>